.form-control-color {
  width: 50px;
}
.card {
  border-width: 2px;
}
.card-color {
  height: 200px;
}
.rating {
  display: flex;
  justify-content: space-between;
  align-content: center;
}
.stars-number {
  line-height: 29px;
  margin-right: 5px;
}
.stars-rating {
  display: flex;
}
.star {
  cursor: pointer;
  height: 25px;
  width: 25px;
  margin: 2px;
  background: grey;
  clip-path: polygon(
    50% 0%,
    63% 38%,
    100% 38%,
    69% 59%,
    82% 100%,
    50% 75%,
    18% 100%,
    31% 59%,
    0% 38%,
    37% 38%
  );
}
.star.selected {
  background: red;
}
.title-container {
  margin-bottom: 10px;
}
.title-container .card-title {
  padding: 10px 0;
  margin-bottom: 0;
}
.title-container .form-control {
  font-size: 1.25rem;
  font-weight: 500;
}
.toast-container {
  position: fixed;
  top: 10px;
  right: 10px;
}
.toast {
  background-color: blue;
  animation: toast-in-right .4s;
  color: #fff;
  font-weight: 500;
}
.toast.out-right {
  animation: toast-out-right .4s;
}
@keyframes toast-in-right {
	from {
	  transform: translateX(100%);
	  
	}
	to {
	  transform: translateX(0);
	}
}
@keyframes toast-out-right {
	from {
	  transform: translateX(0);
	  
	}
	to {
	  transform: translateX(100%);
	}
}

@keyframes toast-in-left {
	from {
		transform: translateX(-100%);
		
	}
	to {
		transform: translateX(0);
	}
}
